#showResults{
  display: none;
}
.jumbotron {
  text-align: center;
  margin-bottom: 0px;
  opacity: 0.6;
  color: #fff;
  background: #000;
}

.jumbotron h1{
  font-size: 100px;
  font-weight: bolder;
}
.container-fluid{
  font-size: 32px;
  color: white;
  font-weight: bolder;
  font-family: inherit;
  opacity: 0.8;
}
em{
  font-size: 41px;
}
img{
  width: 340px;
  height: 75px;
}
#story{
  text-align: right;
  color: white;

}
body{
  background-image: url("../images/pizza.jpg");
  background-size: auto;
  background-repeat: no-repeat;
}
